{% extends "top.html" %}

{% block body %}
<form name="frm" method="post" action="{{ url_for('logs') }}">
    <table style="width:30%">
        <tr>
            <td style="text-align:center">Data Inicial:<br>
                <input type="date" name="dt1" id="dt1" value="{{dt1}}" required>
            </td>
            <td style="text-align:center">Data Final:<br>
                <input type="date" name="dt2" id="dt2" value="{{dt2}}" required>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">
                <input type="submit" name="bt" value="Filtrar">
            </td>
        </tr>
    </table>
</form>
<br>
{% for category, message in get_flashed_messages(with_categories = true) %}
    <div class="alerta">
        {{ message }}
    </div>
{% endfor %}
            
{% for row in table %}
    {{ row|safe }}
{% endfor %}
{% endblock %}
