{% extends "top.html" %}

{% block body %}
<div class="container">
        <div class="box">
            <form name="frm" method="post" action="{{ url_for('logs') }}">
                <table>
                    <tr>
                        <td style="text-align:center">Data Inicial:<br>
                            <input type="date" name="dt1" id="dt1" value="{{dt1}}" required>
                        </td>
                        <td style="text-align:center">Data Final:<br>
                            <input type="date" name="dt2" id="dt2" value="{{dt2}}" required>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align:center">
                            <input type="submit" name="bt" value="Filtrar">
                        </td>
                    </tr>
                </table>
            </form>
            <br>
            {% for category, message in get_flashed_messages(with_categories = true) %}
                <div class="alerta">
                    {{ message }}
                </div>
            {% endfor %}
            
        </div>
    </div>
    {% if logs %}
        <table class="rel" id="tbfiltro" style="width:60%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>DATA</th>
                    <th>NOME</th>
                    <th>DESCRIÇÃO</th>
                    <th>IP</th>
                </tr>
            </thead>
            {% for x in logs %}
                <tr>
                    <td>{{ x.id }}</td>
                    <td>{{ x.dt }}</td>
                    <td>{{ x.nome }}</td>
                    <td>{{ x.descricao|safe }}</td>
                    <td>{{ x.ip }}</td>
                </tr>
            {% endfor %}
        </table>    
    {% endif %}
{% endblock %}
