{% extends "top.html" %}

{% block body %}
<br><br>
<br><br>
<form name="frmQry" method="post" action="{{ request.path }}">
    Selecione a query:
        <select name="ds_tipo" id="ds_tipo" required>
            <option value="">------------</option>
            {{sel_base|safe}}
        </select>
    <textarea name="ds_campo" id="ds_campo" rows="5" placeholder="Insira o parâmetro" required>{{ds_campo|safe}}</textarea>
    <input type="submit" name="btnBuscar" value="Buscar">
</form>
<br>
<br>
{% for category, message in get_flashed_messages(with_categories = true) %}
    <p style="color: red;font-weight:bold">Erro: {{ message }}</p>
{% endfor %}
    
Resultado:<br>

{% for row in tables %}
    {{ row|safe }}
{% endfor %}

{% endblock %}