{% extends "top.html" %}

{% block body %}
<form name="frm" method="post" action="{{ request.path }}">
    Selecione a Base:
    <select name="id_base" id="id_base" style="width:200px" required>
        <option value="">BASE</option>
        {{sel_base|safe}}
    </select>
    <br>
    Query:<br>
    <textarea name="query" id="query" rows="15" placeholder="Somente SELECT" required>{{query}}</textarea><br>
    <input type="submit" name="bt" value="Enviar">
</form>
<br>
{% for category, message in get_flashed_messages(with_categories = true) %}
    <p style="color: red;font-weight:bold">Erro: {{ message }}</p>
{% endfor %}
    
Resultado:<br>

{% for row in tables %}
    {{ row|safe }}
{% endfor %}

{% endblock %}
